<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<div class="navbar-header">
    <a href="#" class="navbar-brand">Recipe Book</a> 
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>&nbsp;&nbsp;
        <li><a href="#"  (click)="onSelect('shopping-list')">Shopping List</a></li>&nbsp;&nbsp;
    </ul>
<ul class="navbar-nav  ml-auto">
       <!-- <ul class=" nav navbar-nav navbar-right">-->
    <li class="dropdown nav-item" appDropdown>
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Manage
        </a>
           <!--<a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>-->
        <div class="dropdown-menu">
           <a href="#" class="dropdown-item">Save Date</a>
           <a href="#" class="dropdown-item">Fetch Date</a>
        </div>
    </li>
</ul>
</div>
</div>
</nav>